@font-face {
    font-family: "kuzhan";
    src: url('../font/151105.ttf');
    font-weight: 600;
    font-style: normal;
}

.el {
    margin: 0 auto;

}

.hello {
    color: #38e000;
    font-size: 48px;
    font-family: "kuzhan";
    font-weight: 500;
    height: 750px;
    background-image: url(../img/1.jpeg);
    background-size: cover;
    text-align: center;
}

.img {
    display: block;
    width: 100%;
}

.btn {
    width: 100%;
    height: 35px;
    text-align: center;
    background: #38e;
    color: #fff;
    font-size: 14px;
    font-family: "kuzhan";
    font-weight: 500;
    margin: 20px auto;
    border-radius: 8px;
    border: none;
}

.btn:hover {
    background: #38e000
}